.button{
    position: relative;
    padding:  20px 40px;
    font-size: 1.4rem;
    background-color: #1890ff;
    background-size: 46px 26px;
    border: 2px solid rgb(249, 248, 248);  
    border-radius: 15px;
    color: white;
    transition: all ease 0.3s;
  }
  
  .button::after{
    position: absolute;
    top: 50%;
    right: 0.6em;
    transform: translateY(-50%);
    content: "»";
    font-size: 1.2em;
    transition: all ease 0.3s;
    opacity: 1;
  }
  
  .button:hover{
    padding: 20px 20px 20px 60px;
  }
  
  .button:hover::after{
    right: -1.2em;
    opacity: 0;
  }
  .text{
    font-size: 30px;
    margin-bottom: 20px;
}