#components-layout-demo-fixed .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  .site-layout .site-layout-background {
    background: #fff;
  }
  .headerContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }        
  .fixed{
    position: fixed;
    bottom: 30%;
    right: 30px;
  }
  .button{
    position: relative;
    background: #1890ff;
    background: radial-gradient(hsl(203, 100%, 50%), hsl(203, 100%, 40%));
    font-size: 1.4rem;
    text-shadow: 0 -1px 0 #c3af07;
    color: white;
    border: 1px solid hsl(205, 72%, 42%);
    border-radius: 100%;
    height: 120px;
    width: 120px;
    z-index: 4;
    outline: none;
  
    box-shadow: inset 0 1px 0 hsl(215, 86%, 58%),
                0 9px 0 hsl(205, 98%, 48%);
  }
  .button:active{
    top: 2px;
    box-shadow: inset 0 1px 0 hsl(210, 79%, 52%),
                0 7px 0 hsl(220, 100%, 30%);
  }